#DB_USER=name
#DB_PASSWORD=pass
#DB_SERVER=name
#DB_DATABASE=name
#JWT_SECRET=tutoken
#DB_PORT=1433
#PORT=tu_puerto
#EMAIL_USER = yano
#EMAIL_PASS = yano
#RECAPTCHA_SECRET_KEY=Tu_KEY
#BASE_URL_API=http://localhost:5000/Intranet/api
#CORS_ALLOWED_ORIGINS=http://localhost:5173
#RESEND_API_KEY=tu_KEY
